body {
    font-family: Arial, sans-serif;
    background-color: #f4f5f6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #004477;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 24px;
}

main {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 80%;
}

.dropdown-section {
    margin-bottom: 20px;
}

.dropbtn {
    background-color: #0071bc;
    color: white;
    padding: 15px 20px;
    border: none;
    display: block;
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}

.dropdown-content {
    display: none;
    margin-top: 10px;
}

.dropdown-content a, .dropdown-content p {
    padding: 10px;
    display: block;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid #e1e1e1;
}

.dropdown-content a:last-child, .dropdown-content p:last-child {
    border-bottom: none;
}

.dropdown-section:hover .dropdown-content {
    display: block;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: #004477;
    color: white;
    font-size: 18px;
}
